body{
    background-color:lavender;
}
h1{
    color:darkviolet;
    text-align: center;
}
hr{
  border:1px solid darkviolet;
}
h2{
    color:mediumslateblue;
}
p{
   color:black;
    font-size: 18px;
}
img{
    border-radius: 10px;
}